<form>
    <table class="form-table">
        <tbody>
            <tr>
                <td>Eesnimi:</td>
                <td><input id="name-input" ng-model="vm.contact.name"/></td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td><input id="phone-input" ng-model="vm.contact.phone"/></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><br/>
                    <a href ng-click="vm.submitForm()" id="save-link">Salvesta</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>
