<input id="search-string" ng-model="vm.searchString"/>

<br /><br />

<table class="list-table">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Telefon</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{ selected : contact.selected }"
        data-ng-repeat="contact in vm.contacts | filter : vm.nameCodeFilter">
        <td>
            <a href="#/edit/{{ contact._id }}" class="edit-link">{{ contact.name }}</a>
        </td>
        <td>
            {{ contact.phone }}
        </td>
        <td>
            <a href ng-click="vm.deleteContact(contact._id)" class="delete-link">Kustuta</a>
        </td>
        <td>
            <input ng-model="contact.selected" type="checkbox">
        </td>
    </tr>
    </tbody>
</table>

<br><br>


