<form>
    <table class="form-table">
        <tbody>
            <tr>
                <td>Eesnimi:</td>
                <td><input [(ngModel)]="newContactName" id="name-input" name="name"/></td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td><input [(ngModel)]="newContactPhone" id="phone-input" name="phone"/></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><br/>
                    <a href (click)="addNewContact(); false;" id="save-link">Salvesta</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>
