<form>
    <table class="form-table">
        <tbody>
        <tr>
            <td>Eesnimi:</td>
            <td><input *ngIf="contact" [(ngModel)]="contact.name" id="name-input" name="name"/></td>
        </tr>
        <tr>
            <td>Telefon:</td>
            <td><input *ngIf="contact" [(ngModel)]="contact.phone" id="phone-input" name="phone"/></td>
        </tr>
        <tr>
            <td colspan="2" align="right"><br/>
                <a href (click)="updateContact(contact); false;" id="save-link">Salvesta</a>
            </td>
        </tr>
        </tbody>
    </table>
</form>
