.list-table {
    background: #fff;
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.list-table th {
    font-weight: normal;
    padding: 0px 8px;
    border-bottom: 2px solid #000;
}

.list-table td {
    padding: 9px 8px 0px 8px;
}

.list-table tr.selected td {
    background-color: #EEE;
}