<input #txtFname (keyup)="updateContacts(); false;" id="search-string" />

<br /><br />

<table class="list-table">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Telefon</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts | searchfilter: ['name', 'phone'] : txtFname.value" [class]="contact.selected ? 'selected' : ''">
            <td>
                <a routerLink="/edit/{{ contact._id }}" class="edit-link">{{ contact.name }}</a>
            </td>
            <td>
                {{ contact.phone }}
            </td>
            <td>
                <a href (click)="deleteContact(contact._id); false;" class="delete-link">Kustuta</a>
            </td>
            <td>
                <input [(ngModel)]="contact.selected" type="checkbox">
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a href (click)="deleteSelectedContacts(); false;" style="float: right" id="delete-all-link">Kustuta märgistatud</a>
            </td>
        </tr>
    </tbody>
</table>

<br /><br />


